.vkbtnLogin div {
    height: 21px;
    margin-left:1px;
    padding: 0px 70px 0px 18px;
    border: none;
    line-height: 22px;
    color: white;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    background: #6189AE url(../img/vk-login.gif) no-repeat 100% 0;
    text-decoration:none;
}
.vkbtnLogin i {
    display:block;
    float:left;
    width:1px;
    height: 21px;
    background-color:#106a9a;
}
.vkbtnLogin:hover {
    color:white;
    text-decoration:none;
}
.vkbtn div {
    height: 21px;
    margin-left:1px;
    padding: 0px 70px 0px 18px;
    border: none;
    line-height: 22px;
    color: white;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    background: #6189AE url(../img/vk-button.gif) no-repeat 100% 0;
    text-decoration:none;
}
.vkbtn i {
    display:block;
    float:left;
    width:1px;
    height: 21px;
    background-color:#106a9a;
}
.vkbtn:hover {
    color:white;
    text-decoration:none;
}
.page-header h1 a {
    text-decoration: none;
    color:black;
}
.page-header h1 a:hover {
    text-decoration: none;
    color:black;
}
.playIcon {
    height: 16px;
    width: 16px;
    background: center center no-repeat url(../img/control_play.png);
}
tr.song {
    cursor: pointer;
}
tr.playing td {
    background: #4B4B4B;
}

.table tbody tr.playing .playIcon {
    height: 16px;
    width: 16px;
    background: center center no-repeat url(../img/control_pause.png);
}

.table tbody tr.playing:hover td {
    background: #4B4B4B;
}
.table tbody tr.playing  td {
    background: #4B4B4B;
    color:white;
}
.play-control {
    border-right: 1px solid #000000;
    float: left;
    height: 40px;
    margin: 0px;
    overflow: hidden;
    padding: 4px 6px;
    width: 25px;
}
.play-control .prev {
    background: url(../img/glyphicons-halflings-white.png) 231px 93px;
    width: 22px;
    height: 22px;
    display:block;
}
.play-control .next {
    background: url(../img/glyphicons-halflings-white.png) 139px 93px;
    width: 22px;
    height: 22px;
    display:block;
}

.audiojs {
    width: 527px !important;
}
.input-append input { float:left; width:10% }
#text_search {
    width:80%;
}